<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Telerik.Reporting.Properties.Settings.TelerikConnectionString"
            connectionString="Data Source=(local)\MYSQL;User Id=sa;Password=123456;"
            providerName="System.Data.SqlClient" />
        <add name="Telerik.Reporting.Properties.Settings.ttewjkqv_qlks"
            connectionString="Data Source=SE7EN-PC\MYSQL;Initial Catalog=ttewjkqv_qlks;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>